In [2]:
# load and activate sql extension 
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
# connecting local database
%sql mysql+pymysql://root:Password123@localhost:3306/united_nations

In [5]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

 * mysql+pymysql://root:***@localhost:3306/united_nations
5 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80'))]

# 1. What is the total number of entries in the dataset?

In [10]:
%%sql

SELECT
    COUNT(*) AS Number_of_observations
FROM
    united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(1048,)]

# 2. What are the earliest and latest years for which we have data?

In [11]:
%%sql

SELECT
    MIN(Time_period) AS Min_time_period,
    MAX(Time_period) AS Max_time_period
FROM
    united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(2015, 2020)]

# 3. How many countries are included in this dataset?

In [12]:
%%sql

SELECT
    COUNT(DISTINCT Country_name) AS Number_of_countries
FROM
    Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(182,)]

# 4. What is the average percentage of people who have access to managed drinking water services across all years and all countries included in our dataset?

In [13]:
%%sql

SELECT
    AVG(Pct_managed_drinking_water_services) AS AVG_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(Decimal('87.189103'),)]

# Table summary

In [14]:
%%sql

SELECT
    COUNT(*) AS Number_of_observations,
    MIN(Time_period) AS Min_time_period,
    MAX(Time_period) AS Max_time_period,
    COUNT(DISTINCT Country_name) AS Number_of_countries,
    AVG(Pct_managed_drinking_water_services) AS AVG_managed_drinking_water_services
FROM
    united_nations.Access_to_Basic_Services;

 * mysql+pymysql://root:***@localhost:3306/united_nations
1 rows affected.

[(1048, 2015, 2020, 182, Decimal('87.189103'))]